Repository MusicScience37/numerical-analysis-note: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_ten_maru, format_tex_files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: check_ten_maru
        name: Check ten and maru.
        entry: poetry run python scripts/fix-ten-maru.py
        language: system
        files: "\\.(tex|md)$"
      - id: check_filenames
        name: Check filenames
        entry: poetry run python scripts/check-filename.py
        language: system
      - id: format_tex_files
        name: Format TeX files
        entry: poetry run python scripts/run-latexindent.py
        language: system
        files: "\\.(tex)$"
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: python
        require_serial: true
        types_or: [python, pyi]
exclude: "extern|\\.svg"

Python 環境の更新
  .devcontainer/devcontainer.json
  .flake8
  .vscode/extensions.json
  cspell.json
  poetry.lock
  pyproject.toml
Due: none

Pylint の指摘に対応
  .pre-commit-config.yaml
  mypy.ini
  num_anal_plots/plots/__init__.py
  num_anal_plots/plots/integ_finite/__init__.py
  num_anal_plots/plots/integ_finite/integ_finite_de.py
  num_anal_plots/plots/integ_finite/integ_finite_gauss_legendre.py
  num_anal_plots/plots/integ_finite/integ_finite_gauss_legendre_kronrod.py
  num_anal_plots/plots/laplacian_2d_grid/__init__.py
  num_anal_plots/plots/legendre_function/__init__.py
  num_anal_plots/plots/ode_kaps_problem/__init__.py
  num_anal_plots/plots/ode_kaps_problem/ode_kaps_problem.py
  num_anal_plots/plots/ode_pendulum_movement/__init__.py
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/__init__.py
  num_anal_plots/plots/opt_convex_difficult_functions/__init__.py
  num_anal_plots/plots/opt_multi_variate_difficult_multi_optima_function/__init__.py
  num_anal_plots/plots/opt_random_multi_quadratic_function/__init__.py
  num_anal_plots/plots/opt_single_variate_multi_optima_function/__init__.py
  num_anal_plots/plots/rbf_wendland_csrbf/__init__.py
  num_anal_plots/show_plot_in_jupyter.py
  pyproject.toml
Due: none

pre-commit の設定を修正
  .pre-commit-config.yaml
Due: none

太字などの設定のあるフォントに変更
  numerical-analysis-note/settings.tex
Due: check_ten_maru, format_tex_files

フォントの設定を移動
  numerical-analysis-note/settings.tex
Due: check_ten_maru, format_tex_files

PDF の見た目の改良
  num_anal_plots/make_pdf_plot.py
Due: none

PDF のバージョンを更新
  num_anal_plots/make_pdf_plot.py
  numerical-analysis-note/main.tex
Due: check_ten_maru, format_tex_files

警告が出ていたオプションを削除
  numerical-analysis-note/settings.tex
Due: check_ten_maru, format_tex_files

PDF の最適化
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  cspell.json
Due: none

README の更新
  README.md
Due: check_ten_maru

CG 法について記載
  cspell.json
  numerical-analysis-note/matrix-computation/iterative-solvers.tex
  numerical-analysis-note/regularization/sparse/l1-regularizaiton.tex
Due: check_ten_maru, format_tex_files

Python パッケージの更新
  poetry.lock
Due: none

pygments の警告に対応
  docs/source/conf.py
Due: none

静的解析ツールの設定をして、既存の指摘に対応した。
  .flake8
  .pre-commit-config.yaml
  docs/source/conf.py
  mypy.ini
  num_anal_plots/plots/legendre_function/legendre_function.py
  num_anal_plots/plots/opt_multi_variate_difficult_multi_optima_function/opt_multi_variate_difficult_multi_optima_function.py
  num_anal_plots/plots/opt_random_multi_quadratic_function/opt_random_multi_quadratic_function.py
  num_anal_plots/plots/opt_single_variate_multi_optima_function/opt_single_variate_multi_optima_function.py
  num_anal_plots/plots/rbf_wendland_csrbf/rbf_wendland_csrbf.py
  scripts/check-filename.py
  scripts/fix-ten-maru.py
  scripts/run-latexindent.py
Due: none

Plotly の図の見た目を改良
  num_anal_plots/configure_plot_defaults.py
  num_anal_plots/make_pdf_plot.py
  num_anal_plots/plots/integ_finite/integ_finite_de.py
  num_anal_plots/plots/integ_finite/integ_finite_gauss_legendre.py
  num_anal_plots/plots/integ_finite/integ_finite_gauss_legendre_kronrod.py
  num_anal_plots/plots/laplacian_2d_grid/laplacian_2d_grid.py
  num_anal_plots/plots/legendre_function/legendre_function.py
  num_anal_plots/plots/ode_kaps_problem/ode_kaps_problem.py
  num_anal_plots/plots/ode_pendulum_movement/ode_pendulum_movement_auto_step.py
  num_anal_plots/plots/ode_pendulum_movement/ode_pendulum_movement_fixed_step.py
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
  num_anal_plots/plots/opt_convex_difficult_functions/opt_convex_difficult_functions.py
  num_anal_plots/plots/opt_multi_variate_difficult_multi_optima_function/opt_multi_variate_difficult_multi_optima_function.py
  num_anal_plots/plots/opt_random_multi_quadratic_function/opt_random_multi_quadratic_function.py
  num_anal_plots/plots/opt_single_variate_multi_optima_function/opt_single_variate_multi_optima_function.py
  num_anal_plots/plots/rbf_wendland_csrbf/rbf_wendland_csrbf.py
  num_anal_plots/show_plot_in_jupyter.py
Due: none

Python パッケージの更新
  poetry.lock
  pyproject.toml
Due: none

不等号の向きを修正
  numerical-analysis-note/interp/kernel/rbf.tex
Due: check_ten_maru, format_tex_files

Python パッケージの更新
  .pre-commit-config.yaml
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: none

表紙を変更
  numerical-analysis-note/kdesign.sty
  numerical-analysis-note/settings.tex
Due: check_ten_maru, format_tex_files

Gamma 関数について
  cspell.json
  docs/source/web-contents/special-functions/gamma-function.md
  docs/source/web-contents/special-functions/index.rst
  num_anal_plots/plots/gamma_function/__init__.py
  num_anal_plots/plots/gamma_function/gamma_function.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/articles.bib
  numerical-analysis-note/special-functions/gamma.tex
  numerical-analysis-note/special-functions/main.tex
Due: check_ten_maru, format_tex_files

DevContainer の設定の更新
  .devcontainer/devcontainer.json
Due: none

環境の更新
  poetry.lock
  pyproject.toml
Due: none

環境の更新
  .devcontainer/devcontainer.json
  docs/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

著作権表示の更新
  NOTICE.md
  docs/source/conf.py
  numerical-analysis-note/main.tex
Due: check_ten_maru, format_tex_files

スペルミスの修正
  pyproject.toml
Due: none

Python 環境の更新
  .devcontainer/setup.bash
  .gitlab-ci.yml
  README.md
  pyproject.toml
Due: check_ten_maru

TeXLive のバージョン更新
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitlab-ci.yml
Due: none

表紙の調整
  numerical-analysis-note/kdesign.sty
Due: none

Sphinx を更新
  poetry.lock
  pyproject.toml
Due: none

Plotly, kaleido のバージョンを更新
  .devcontainer/setup.bash
  .gitlab-ci.yml
  docs/source/conf.py
  num_anal_plots/make_pdf_plot.py
  poetry.lock
  pyproject.toml
Due: none

Bessel 関数について整理中
  cspell.json
  numerical-analysis-note/articles.bib
  numerical-analysis-note/special-functions/bessel.tex
  numerical-analysis-note/special-functions/main.tex
Due: check_ten_maru, format_tex_files

プロットで使用する色の設定
  num_anal_plots/configure_plot_defaults.py
Due: none

Polyharmonic spline について追記
  cspell.json
  numerical-analysis-note/interp/kernel/rbf.tex
  numerical-analysis-note/interp/kernel/reproducing-kernel.tex
Due: check_ten_maru, format_tex_files

RBF 補間の微分について
  cspell.json
  numerical-analysis-note/articles.bib
  numerical-analysis-note/interp/kernel/main.tex
  numerical-analysis-note/interp/kernel/operators.tex
  numerical-analysis-note/interp/kernel/rbf.tex
Due: check_ten_maru, format_tex_files
