Repository MusicScience37/numerical-analysis-note: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_ten_maru, format_tex_files

check_ten_maru:
  name: Check ten and maru.
  entry: poetry run python scripts/fix-ten-maru.py
  language: system

format_tex_files:
  name: Format TeX files
  entry: poetry run python scripts/run-latexindent.py
  language: system

TODO を既存のパッケージに変更
  NOTICE.md
  cspell.json
  main.tex
  matrix-computation/iterative-solvers.tex
  settings.tex
Due: check_ten_maru, format_tex_files

ラベルを修正
  matrix-computation/iterative-solvers.tex
  ode/runge-kutta/theory.tex
Due: check_ten_maru, format_tex_files

使用していない listings, plistings は削除
  .gitmodules
  NOTICE.md
  settings.tex
Due: check_ten_maru, format_tex_files

不要になった .gitmodules を削除
  .gitmodules
Due: none

データファイルを Git LFS に追加
  .gitattributes
  matrix-computation/experiments/laplacian-2d-grid/bench.data
Due: none

algorithmic の表示の変更
  differentiation/auto-diff.tex
  integration/adaptive-integration.tex
  matrix-computation/iterative-solvers.tex
  more-precision/multi-double.tex
  more-precision/reducing-truncation-errors.tex
  ode/runge-kutta/theory.tex
  ode/symplectic.tex
  optimization/descent-unconstrained-optimization.tex
  optimization/downhill-simplex.tex
  optimization/global-optimization.tex
Due: check_ten_maru, format_tex_files

Cuthill-McKee Ordering について記載
  cspell.json
  matrix-computation/iterative-solvers.tex
Due: check_ten_maru, format_tex_files

plistings の痕跡が残っていたため削除
  .devcontainer/setup.bash
  README.md
  cspell.json
Due: check_ten_maru

LuaLaTeX で PDF を作るように変更
  .latexmkrc
  .vscode/settings.json
  main.tex
  settings.tex
Due: check_ten_maru, format_tex_files

二重振り子の運動方程式について記載中
  appendix/double-pendulum-formulation.pdf
  appendix/double-pendulum-formulation.svg
  appendix/double-pendulum.tex
  appendix/lagrandian-and-hamiltonian.tex
  appendix/main.tex
  main.tex
  ode/average-vector-field.tex
  ode/symplectic.tex
  settings.tex
Due: check_ten_maru, format_tex_files

二重振り子の運動方程式について
  appendix/double-pendulum.tex
Due: check_ten_maru, format_tex_files

:wrench: Update environment.
  poetry.lock
  pyproject.toml
Due: none

Python パッケージの更新
  poetry.lock
  pyproject.toml
Due: none

CI の警告に対応
  .gitlab-ci.yml
Due: none

フォーマッタの更新に対応
  ode/runge-kutta/theory.tex
Due: check_ten_maru, format_tex_files

Python パッケージの更新
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

まずは laplacian-2d-grid のプロットを自動生成
  .gitattributes
  .gitlab-ci.yml
  .pre-commit-config.yaml
  cspell.json
  matrix-computation/experiments/laplacian-2d-grid/bench.pdf
  matrix-computation/experiments/laplacian-2d-grid/bench.svg
  matrix-computation/iterative-solvers.tex
  num_anal_plots/__init__.py
  num_anal_plots/make_pdf_plot.py
  num_anal_plots/plots/laplacian_2d_grid/README.md
  num_anal_plots/plots/laplacian_2d_grid/bench.data
  num_anal_plots/plots/laplacian_2d_grid/laplacian_2d_grid.py
  num_anal_plots/plots/plots.py
  plots/.gitignore
  poetry.lock
  pyproject.toml
Due: check_ten_maru, format_tex_files

残りのプロットも PDF を自動生成
  .gitattributes
  num_anal_plots/plots/ode_runge_kutta_bicgstab/env.md
  num_anal_plots/plots/ode_runge_kutta_bicgstab/ode_runge_kutta_bicgstab.py
  num_anal_plots/plots/ode_runge_kutta_bicgstab/result.json
  num_anal_plots/plots/ode_runge_kutta_gmres/env.md
  num_anal_plots/plots/ode_runge_kutta_gmres/ode_runge_kutta_gmres.py
  num_anal_plots/plots/ode_runge_kutta_gmres/result.json
  num_anal_plots/plots/plots.py
  ode/experiments/bicgstab/dimension-to-time.pdf
  ode/experiments/bicgstab/dimension-to-time.svg
  ode/experiments/gmres/dimension-to-time.pdf
  ode/experiments/gmres/dimension-to-time.svg
  ode/runge-kutta/theory.tex
Due: check_ten_maru, format_tex_files

ディレクトリ構成の資料を追加
  dev/directory-structure.md
  dev/index.md
  num_anal_plots/__init__.py
Due: check_ten_maru

CI の設定がディレクトリ構成に対応していなかったから修正
  .gitlab-ci.yml
Due: none

poetry の警告に対処
  poetry.lock
Due: none

poetry の依存パッケージの記載箇所の整理
  poetry.lock
  pyproject.toml
Due: none

poetry のパッケージをキャッシュする
  .gitlab-ci.yml
  cspell.json
Due: none

Sphinx の設定を追加
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  cspell.json
  docs/.gitignore
  docs/source/_static/.gitkeep
  docs/source/_templates/.gitkeep
  docs/source/conf.py
  docs/source/index.rst
  docs/source/web-contents/index.rst
  docs/start-auto-build.sh
  poetry.lock
  pyproject.toml
Due: check_ten_maru

ベンチマークのページを 1 つ作成
  cspell.json
  docs/source/conf.py
  docs/source/web-contents/index.rst
  docs/source/web-contents/matrix-computation/index.rst
  docs/source/web-contents/matrix-computation/laplacian-2d-grid.md
  num_anal_plots/generate_plot_widget.py
Due: check_ten_maru

CI に Sphinx のビルドを追加
  .gitlab-ci.yml
Due: none

ODE の方のベンチマーク結果も Sphinx に追加
  docs/source/web-contents/index.rst
  docs/source/web-contents/ode/index.rst
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
Due: check_ten_maru

スペルチェックの指摘の修正
  .vscode/settings.json
  cspell.json
Due: none

README を更新
  README.md
Due: check_ten_maru

strongly connected の説明を修正
  numerical-analysis-note/matrix-computation/iterative-solvers.tex
Due: check_ten_maru, format_tex_files

Legendre 関数のプロットを追加
  .devcontainer/devcontainer.json
  .vscode/settings.json
  cspell.json
  docs/source/web-contents/index.rst
  docs/source/web-contents/special-functions/index.rst
  docs/source/web-contents/special-functions/legendre-function.md
  num_anal_plots/make_pdf_plot.py
  num_anal_plots/plots/legendre_function/legendre_function.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/special-functions/legendre.tex
  poetry.lock
  pyproject.toml
Due: check_ten_maru, format_tex_files

作業中は毎回フルビルドしなくても良いように設定する。
  .vscode/settings.json
  numerical-analysis-note/.latexmkrc
Due: none

Legendre 関数の計算用の数式を追加
  numerical-analysis-note/special-functions/legendre.tex
Due: check_ten_maru, format_tex_files

DevContainer 用に root でないユーザとキャッシュのボリュームを用意。
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
Due: none

isort を pre-commit に追加
  .pre-commit-config.yaml
  num_anal_plots/plots/laplacian_2d_grid/laplacian_2d_grid.py
  pyproject.toml
  scripts/check-filename.py
  scripts/run-latexindent.py
Due: none

著作権表示を揃える。
  docs/source/conf.py
Due: none

Path conditions:
  check_ten_maru: any of: \.(tex|md)$, but not: extern|\.svg
  format_tex_files: any of: \.(tex)$, but not: extern|\.svg
