Repository MusicScience37/numerical-analysis-note: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: check_ten_maru
        name: Check ten and maru.
        entry: poetry run python scripts/fix-ten-maru.py
        language: system
        files: "\\.(tex|md|rst)$"
      - id: check_filenames
        name: Check filenames
        entry: poetry run python scripts/check-filename.py
        language: system
        exclude: "num_anal_plots/|_static|_templates"
      - id: format_tex_files
        name: Format TeX files
        entry: poetry run python scripts/run-latexindent.py
        language: system
        files: "\\.(tex)$"
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [python, pyi]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        require_serial: true
        types_or: [python, pyi]
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        require_serial: true
        types_or: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        require_serial: true
        types_or: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        require_serial: true
        types_or: [python]
exclude: "extern|\\.svg"

RBF 補間の追加の微分について記載
  numerical-analysis-note/interp/kernel/operators.tex
Due: check_ten_maru, check_filenames, format_tex_files

Python パッケージの更新
  poetry.lock
  pyproject.toml
Due: check_filenames

ADMM について補足
  numerical-analysis-note/optimization/augmented-lagrange-function.tex
Due: check_ten_maru, check_filenames, format_tex_files

TGV2 の更新式を少し実装向けに変形
  numerical-analysis-note/regularization/sparse/tgv-regularization.tex
Due: check_ten_maru, check_filenames, format_tex_files

TGV2 に対する ADMM の別解法を追加
  numerical-analysis-note/regularization/sparse/tgv-regularization.tex
Due: check_ten_maru, check_filenames, format_tex_files

TGV2 で使用する行列の特性について追記
  numerical-analysis-note/regularization/sparse/tgv-regularization.tex
Due: check_ten_maru, check_filenames, format_tex_files

アイコンを SVG で作成
  icon/design/icon.svg
  icon/icon.svg
Due: none

アイコンの大きめの PNG ファイルを生成
  icon/icon512.png
Due: check_filenames

アイコンを HTML のドキュメントに追加
  .devcontainer/Dockerfile
  .gitattributes
  .gitlab-ci.yml
  dev/icon.md
  docs/source/conf.py
  icon/icon.ico
  icon/icon192.png
  scripts/convert-icons.sh
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

Git LFS でファイルを登録しないようにする。
  .gitattributes
Due: check_filenames

Git LFS でファイルを登録しないようにする。
  icon/design/icon.svg
  icon/icon.ico
  icon/icon.svg
  icon/icon192.png
  icon/icon512.png
  num_anal_plots/plots/integ_finite/exp.data
  num_anal_plots/plots/integ_finite/inv_sqrt_1mx2.data
  num_anal_plots/plots/integ_finite/sqrt_1mx2.data
  num_anal_plots/plots/laplacian_2d_grid/bench.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem0.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem3.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem6.data
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem.data
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem_fixed_step.data
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/bench.data
  num_anal_plots/plots/opt_convex_difficult_functions/powell4_function.data
  num_anal_plots/plots/opt_convex_difficult_functions/rosenbrock_function.data
  num_anal_plots/plots/opt_multi_variate_difficult_multi_optima_function/bench.data
  num_anal_plots/plots/opt_random_multi_quadratic_function/bench.data
  num_anal_plots/plots/opt_single_variate_multi_optima_function/bench.data
  numerical-analysis-note/appendix/double-pendulum-formulation.pdf
  numerical-analysis-note/appendix/double-pendulum-formulation.svg
  numerical-analysis-note/differentiation/auto-diff-backward-graph.pdf
  numerical-analysis-note/differentiation/auto-diff-backward-graph.svg
  numerical-analysis-note/optimization/ADC-partitions-image.pdf
  numerical-analysis-note/optimization/ADC-partitions-image.svg
  numerical-analysis-note/optimization/Armijo-rule-image.pdf
  numerical-analysis-note/optimization/Armijo-rule-image.svg
  numerical-analysis-note/optimization/DIRECT-potentially-optimal.pdf
  numerical-analysis-note/optimization/DIRECT-potentially-optimal.svg
  numerical-analysis-note/regularization/L-curve.pdf
Due: check_filenames

アイコンをサンセリフ寄りの見た目に更新
  icon/design/icon.svg
Due: none

SVG と PNG のアイコンを更新
  icon/icon.svg
  icon/icon192.png
  icon/icon512.png
Due: check_filenames

アイコンファイルを更新
  icon/icon.ico
  icon/icon192.png
Due: check_filenames

ロゴの製作中
  icon/design/logo.svg
  icon/design/note.md
Due: check_ten_maru, check_filenames

ロゴ作成
  icon/design/logo.svg
  icon/design/note.md
  icon/logo.svg
Due: check_ten_maru, check_filenames

CI のエラー対応
  cspell.json
  icon/design/note.md
Due: check_ten_maru, check_filenames

ディレクトリ名を実態に合わせて変更
  .gitlab-ci.yml
  dev/icon.md
  docs/source/conf.py
  icon-logo/design/icon.svg
  icon-logo/design/logo.svg
  icon-logo/design/note.md
  icon-logo/icon.ico
  icon-logo/icon.svg
  icon-logo/icon192.png
  icon-logo/icon512.png
  icon-logo/logo.svg
  scripts/convert-icons.sh
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

ロゴをドキュメントに追加
  docs/source/conf.py
Due: check_filenames, pylint, flake8, mypy

ロゴの文字が見えやすいように調整
  icon-logo/design/logo.svg
  icon-logo/logo.svg
Due: none

ロゴの背景は透明にする。
  icon-logo/design/logo.svg
  icon-logo/design/note.md
  icon-logo/logo.svg
Due: check_ten_maru, check_filenames

ロゴの余白は最小限に
  icon-logo/design/logo.svg
  icon-logo/logo.svg
Due: none

ダークテーマ用のロゴを追加
  icon-logo/design/logo-dark.svg
  icon-logo/design/note.md
  icon-logo/logo-dark.svg
Due: check_ten_maru, check_filenames

Sphinx テーマとロゴの設定を更新
  docs/source/conf.py
  poetry.lock
  pyproject.toml
Due: check_filenames, pylint, flake8, mypy

ロゴの PDF 版を追加
  icon-logo/design/logo.pdf
Due: check_filenames

ファイルパスの誤りを修正
  icon-logo/logo.pdf
Due: check_filenames

ロゴを表紙に追加
  numerical-analysis-note/main.tex
Due: check_ten_maru, check_filenames, format_tex_files

Pylint のエラーの修正
  docs/source/web-contents/special-functions/legendre-function.md
  num_anal_plots/plots/legendre_function/legendre_function.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

Sphinx テーマを修正版に更新
  poetry.lock
  pyproject.toml
Due: check_filenames

著作権表示の年を更新
  NOTICE.md
  docs/source/conf.py
  numerical-analysis-note/main.tex
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

表紙にロゴを追加
  NOTICE.md
  docs/source/conf.py
  numerical-analysis-note/logo/.gitignore
  numerical-analysis-note/main.tex
  scripts/generate-images.sh
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

CI の修正
  .gitlab-ci.yml
Due: check_filenames

アイコンとロゴのΣを数式っぽく更新
  .gitignore
  icon-logo/design/icon.svg
  icon-logo/design/logo-dark.svg
  icon-logo/design/logo.svg
  icon-logo/design/note.md
  icon-logo/design/parts/Sigma.pdf
  icon-logo/design/parts/Sigma.tex
  icon-logo/design/parts/sum.pdf
  icon-logo/design/parts/sum.tex
  icon-logo/icon.ico
  icon-logo/icon.svg
  icon-logo/icon192.png
  icon-logo/icon512.png
  icon-logo/logo-dark.svg
  icon-logo/logo.pdf
  icon-logo/logo.svg
Due: check_ten_maru, check_filenames, format_tex_files

環境の更新
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: check_filenames

pre-commit の更新
  .pre-commit-config.yaml
Due: check_filenames

RBF-FD 法のメモ
  numerical-analysis-note/interp/kernel/main.tex
  numerical-analysis-note/interp/kernel/rbf-fd.tex
Due: check_ten_maru, check_filenames, format_tex_files

Git LFS は使用していないため記述を削除
  README.md
Due: check_ten_maru, check_filenames

使用していないパッケージの削除
  numerical-analysis-note/kdesign.sty
  numerical-analysis-note/kmacro.sty
  numerical-analysis-note/settings.tex
Due: check_ten_maru, check_filenames, format_tex_files
