Repository MusicScience37/numerical-analysis-note: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: check_ten_maru
        name: Check ten and maru.
        entry: poetry run python scripts/fix-ten-maru.py
        language: system
        files: "\\.(tex|md|rst)$"
      - id: check_filenames
        name: Check filenames
        entry: poetry run python scripts/check-filename.py
        language: system
        exclude: "num_anal_plots/|_static|_templates"
      - id: format_tex_files
        name: Format TeX files
        entry: poetry run python scripts/run-latexindent.py
        language: system
        files: "\\.(tex)$"
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [python, pyi]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        require_serial: true
        types_or: [python, pyi]
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        require_serial: true
        types_or: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        require_serial: true
        types_or: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        require_serial: true
        types_or: [python]
exclude: "extern|\\.svg"

必要ないパッケージの削除
  numerical-analysis-note/settings.tex
Due: check_ten_maru, check_filenames, format_tex_files

tectonic でビルドができる状態のソースコード
  .vscode/settings.json
  numerical-analysis-note/main.tex
  numerical-analysis-note/ode/runge-kutta/formulas.tex
  numerical-analysis-note/settings.tex
Due: check_ten_maru, check_filenames, format_tex_files

tectonic を使用しつつ LaTeX Workshop も動くように環境を変更
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
Due: check_filenames

環境を変えた状態でビルドを通す
  .devcontainer/setup.bash
  num_anal_plots/make_pdf_plot.py
  numerical-analysis-note/main.tex
  poetry.lock
  pyproject.toml
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

開発環境におけるキャッシュの設定
  .devcontainer/devcontainer.json
  .devcontainer/setup.bash
Due: check_filenames

CI 用の設定をするまで一旦 CI を無効化
  .gitlab-ci.yml
Due: check_filenames

フォントの設定
  .devcontainer/Dockerfile
  numerical-analysis-note/main.tex
Due: check_ten_maru, check_filenames, format_tex_files

索引が出なくなっていたのを修正
  .devcontainer/Dockerfile
  .vscode/settings.json
  numerical-analysis-note/build.sh
Due: check_filenames

Fix errors in spell checker
  cspell.json
Due: check_filenames

Configure CI with tectonic
  .gitlab-ci.yml
Due: check_filenames

Fix CI configuration
  .gitlab-ci.yml
Due: check_filenames

開発環境の Docker イメージを更新
  .devcontainer/Dockerfile
Due: check_filenames

README の手順を最新化
  README.md
Due: check_ten_maru, check_filenames

設定の場所を移動
  numerical-analysis-note/main.tex
  numerical-analysis-note/settings.tex
Due: check_ten_maru, check_filenames, format_tex_files

日本語のドキュメントクラスの設定
  .vscode/settings.json
  numerical-analysis-note/main.tex
  numerical-analysis-note/settings.tex
Due: check_ten_maru, check_filenames, format_tex_files

索引の登録ミスを修正
  numerical-analysis-note/optimization/augmented-lagrange-function.tex
Due: check_ten_maru, check_filenames, format_tex_files

RBF-FD について補足
  numerical-analysis-note/interp/kernel/rbf-fd.tex
Due: check_ten_maru, check_filenames, format_tex_files

Fix warnings of poetry.
  poetry.lock
  pyproject.toml
Due: check_filenames

共通のデザインの Python パッケージを使うように変更
  mypy.ini
  num_anal_plots/configure_plot_defaults.py
  poetry.lock
  pyproject.toml
Due: check_filenames, pylint, flake8, mypy

脆弱性のある Python パッケージが出たため Python パッケージを更新
  poetry.lock
  pyproject.toml
Due: check_filenames

RBF とその微分について記述を更新
  numerical-analysis-note/interp/kernel/operators.tex
  numerical-analysis-note/interp/kernel/rbf.tex
  numerical-analysis-note/interp/kernel/reproducing-kernel.tex
Due: check_ten_maru, check_filenames, format_tex_files

Polyharmonic spline RBF への多重調和演算子の適用
  cspell.json
  numerical-analysis-note/articles.bib
  numerical-analysis-note/interp/kernel/operators.tex
  numerical-analysis-note/interp/kernel/rbf-fd.tex
Due: check_ten_maru, check_filenames, format_tex_files

陰的 Runge-Kutta 法の方程式の解法について追記
  numerical-analysis-note/intro/notation.tex
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files

陰的 Runge-Kutta 法における Newton 法の高速化について補足を追記
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files

環境の更新
  .vscode/settings.json
  poetry.lock
  pyproject.toml
Due: check_filenames

常微分方程式の数値解法に関する既存のベンチマーク結果を更新
  cspell.json
  docs/source/web-contents/ode/kaps-problem-benchmark.md
  docs/source/web-contents/ode/pendulum-movement-benchmark.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_common.py
  num_anal_plots/plots/ode_kaps_problem/README.md
  num_anal_plots/plots/ode_kaps_problem/kaps_problem0.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem3.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem6.data
  num_anal_plots/plots/ode_pendulum_movement/README.md
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem.data
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem_fixed_step.data
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/README.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/bench.data
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

陰的な Kaps の問題によるベンチマーク
  docs/source/web-contents/ode/implicit-kaps-problem-benchmark.md
  docs/source/web-contents/ode/index.rst
  num_anal_plots/plots/ode_implicit_kaps_problem/README.md
  num_anal_plots/plots/ode_implicit_kaps_problem/__init__.py
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem0.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem3.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem6.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_probleminf.data
  num_anal_plots/plots/ode_implicit_kaps_problem/ode_implicit_kaps_problem.py
  num_anal_plots/plots/ode_kaps_problem/README.md
  num_anal_plots/plots/plots.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

拡散方程式を解く例
  docs/source/web-contents/ode/diffusion2d.md
  docs/source/web-contents/ode/index.rst
  num_anal_plots/plots/ode_diffusion2d/README.md
  num_anal_plots/plots/ode_diffusion2d/__init__.py
  num_anal_plots/plots/ode_diffusion2d/diffusion2d_dirichlet.data
  num_anal_plots/plots/ode_diffusion2d/diffusion2d_neumann.data
  num_anal_plots/plots/ode_diffusion2d/ode_diffusion2d.py
  num_anal_plots/plots/plots.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

Web コンテンツの説明を追加
  docs/source/web-contents/index.rst
Due: check_ten_maru, check_filenames

常微分方程式の数値解法のベンチマークを更新
  cspell.json
  docs/source/web-contents/ode/implicit-kaps-problem-benchmark.md
  num_anal_plots/plots/ode_implicit_kaps_problem/ode_implicit_kaps_problem.py
  numerical-analysis-note/ode/experiments.tex
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

常微分方程式の基本的な用語について追記
  numerical-analysis-note/ode/experiments.tex
  numerical-analysis-note/ode/intro.tex
  numerical-analysis-note/ode/main.tex
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files

偏微分方程式の数値解法を個別の部に分離
  numerical-analysis-note/differentiation/main.tex
  numerical-analysis-note/interp/kernel/main.tex
  numerical-analysis-note/interp/kernel/operators.tex
  numerical-analysis-note/main.tex
  numerical-analysis-note/ode/experiments.tex
  numerical-analysis-note/pde/experiments.tex
  numerical-analysis-note/pde/intro.tex
  numerical-analysis-note/pde/main.tex
  numerical-analysis-note/pde/rbf-fd.tex
Due: check_ten_maru, check_filenames, format_tex_files

Web コンテンツ側の偏微分方程式関連の内容も分離して順番を PDF と合うように調整
  docs/source/web-contents/index.rst
  docs/source/web-contents/ode/index.rst
  docs/source/web-contents/pde/diffusion2d-ode-solvers.md
  docs/source/web-contents/pde/index.rst
Due: check_ten_maru, check_filenames

プロットの名前の変更
  docs/source/web-contents/pde/diffusion2d-ode-solvers.md
  num_anal_plots/plots/ode_diffusion2d/ode_diffusion2d.py
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/README.md
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/__init__.py
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/diffusion2d_dirichlet.data
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/diffusion2d_neumann.data
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/pde_diffusion2d_ode_solvers.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/pde/experiments.tex
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

偏微分方程式の数値解法に仮の序文を追加
  numerical-analysis-note/pde/intro.tex
Due: check_ten_maru, check_filenames, format_tex_files

偏微分方程式の数値解法の導入に追記
  numerical-analysis-note/integration/main.tex
  numerical-analysis-note/interp/main.tex
  numerical-analysis-note/matrix-computation/main.tex
  numerical-analysis-note/ode/main.tex
  numerical-analysis-note/pde/intro.tex
Due: check_ten_maru, check_filenames, format_tex_files

陰的 Kaps の問題によるベンチマーク結果を更新
  docs/source/web-contents/ode/implicit-kaps-problem-benchmark.md
  num_anal_plots/plots/ode_implicit_kaps_problem/README.md
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem0.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem3.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem6.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_probleminf.data
  numerical-analysis-note/ode/experiments.tex
Due: check_ten_maru, check_filenames, format_tex_files

陰的 Runge-Kutta 法における方程式について追記
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files

誤りの修正と使用方法の追記
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files

数式の修正
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files
