Repository MusicScience37/numerical-analysis-note: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_ten_maru, format_tex_files

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: check_ten_maru
        name: Check ten and maru.
        entry: poetry run python scripts/fix-ten-maru.py
        language: system
        files: "\\.(tex|md)$"
      - id: check_filenames
        name: Check filenames
        entry: poetry run python scripts/check-filename.py
        language: system
      - id: format_tex_files
        name: Format TeX files
        entry: poetry run python scripts/run-latexindent.py
        language: system
        files: "\\.(tex)$"
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: python
        require_serial: true
        types_or: [python, pyi]
exclude: "extern|\\.svg"

Web ページの内容を見直し
  docs/source/about.rst
  docs/source/conf.py
  docs/source/index.rst
Due: none

Sphinx テーマのバージョンを更新
  poetry.lock
  pyproject.toml
Due: none

プロットにマーカを追加
  docs/source/web-contents/matrix-computation/laplacian-2d-grid.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/generate_plot_widget.py
  num_anal_plots/plots/laplacian_2d_grid/laplacian_2d_grid.py
  num_anal_plots/plots/ode_runge_kutta_bicgstab/ode_runge_kutta_bicgstab.py
  num_anal_plots/plots/ode_runge_kutta_gmres/ode_runge_kutta_gmres.py
  scripts/generate-images.sh
  scripts/run-latexindent.py
Due: check_ten_maru

PDF のバージョン違いによる警告に対応
  num_anal_plots/make_pdf_plot.py
Due: none

著作権表示を更新
  NOTICE.md
  docs/source/conf.py
  numerical-analysis-note/main.tex
Due: check_ten_maru, format_tex_files

BibTeX の警告に対応
  numerical-analysis-note/articles.bib
Due: none

参考文献を Web ページにも追加
  cspell.json
  docs/source/about.rst
  docs/source/bibliography.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/web-contents/matrix-computation/laplacian-2d-grid.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  docs/source/web-contents/special-functions/legendre-function.md
  num_anal_plots/plots/legendre_function/legendre_function.py
  numerical-analysis-note/articles.bib
  numerical-analysis-note/matrix-computation/iterative-solvers.tex
Due: check_ten_maru, format_tex_files

スペルチェッカーの指摘に対応
  cspell.json
Due: none

MathJax の URL を変更したら Plotly 込みでの表示が改善した。
  docs/source/conf.py
Due: none

Python パッケージの更新
  cspell.json
  poetry.lock
  pyproject.toml
Due: none

Update CI configuration.
  .gitlab-ci.yml
Due: none

正常に動作しない CI のジョブを削除
  .gitlab-ci.yml
Due: none

Plotly の show 関数でプロットするように変更
  docs/source/conf.py
  docs/source/web-contents/matrix-computation/laplacian-2d-grid.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  docs/source/web-contents/special-functions/legendre-function.md
  num_anal_plots/generate_plot_widget.py
  num_anal_plots/show_plot_in_jupyter.py
Due: check_ten_maru

Docker イメージを更新
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

基本的な手順を README に書いておく。
  README.md
Due: check_ten_maru

Python パッケージを更新
  poetry.lock
  pyproject.toml
Due: none

CI のキャッシュは venv でなくパッケージのファイルを保持させる
  .gitlab-ci.yml
Due: none

Sphinx の警告に対応
  docs/source/conf.py
Due: none

ビルドした Sphinx の HTML の中にキャッシュのデータが混じっていたため修正
  .gitlab-ci.yml
Due: none

Runge-Kutta 法の方程式を解くためのソルバーのベンチマーク結果を最新化
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_runge_kutta_bicgstab/env.md
  num_anal_plots/plots/ode_runge_kutta_bicgstab/ode_runge_kutta_bicgstab.py
  num_anal_plots/plots/ode_runge_kutta_bicgstab/result.json
  num_anal_plots/plots/ode_runge_kutta_gmres/env.md
  num_anal_plots/plots/ode_runge_kutta_gmres/ode_runge_kutta_gmres.py
  num_anal_plots/plots/ode_runge_kutta_gmres/result.json
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/README.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/bench.data
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, format_tex_files

常微分方程式解法のベンチマーク結果を追加
  cspell.json
  num_anal_plots/plots/ode_common.py
  num_anal_plots/plots/ode_pendulum_movement/README.md
  num_anal_plots/plots/ode_pendulum_movement/ode_pendulum_movement_auto_step.py
  num_anal_plots/plots/ode_pendulum_movement/ode_pendulum_movement_fixed_step.py
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem.data
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem_fixed_step.data
  num_anal_plots/plots/plots.py
Due: check_ten_maru

振り子の運動による常微分方程式ソルバーのベンチマーク
  docs/source/web-contents/ode/index.rst
  docs/source/web-contents/ode/pendulum-movement-benchmark.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_pendulum_movement/README.md
  num_anal_plots/plots/ode_pendulum_movement/ode_pendulum_movement_auto_step.py
  numerical-analysis-note/ode/experiments.tex
  numerical-analysis-note/ode/main.tex
  numerical-analysis-note/ode/runge-kutta/formulas.tex
  numerical-analysis-note/ode/runge-kutta/main.tex
  numerical-analysis-note/ode/runge-kutta/theory.tex
  numerical-analysis-note/ode/symplectic.tex
Due: check_ten_maru, format_tex_files

グラフのテンプレートを統一
  docs/source/web-contents/matrix-computation/laplacian-2d-grid.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  docs/source/web-contents/special-functions/legendre-function.md
  num_anal_plots/plots/laplacian_2d_grid/laplacian_2d_grid.py
  num_anal_plots/plots/legendre_function/legendre_function.py
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
Due: check_ten_maru

常微分方程式の硬い系における数値解法のベンチマーク
  cspell.json
  docs/source/web-contents/ode/index.rst
  docs/source/web-contents/ode/kaps-problem-benchmark.md
  num_anal_plots/plots/ode_kaps_problem/README.md
  num_anal_plots/plots/ode_kaps_problem/kaps_problem0.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem3.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem6.data
  num_anal_plots/plots/ode_kaps_problem/ode_kaps_problem.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/ode/experiments.tex
Due: check_ten_maru, format_tex_files

標準誤差を計測していたベンチマーク結果についてエラーバーを追加
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
Due: check_ten_maru

便利なエイリアスを追加
  pyproject.toml
Due: none

Latin Modern のフォントを埋め込んで PDF のプロットを生成する設定
  .devcontainer/Dockerfile
  cspell.json
  num_anal_plots/make_pdf_plot.py
  numerical-analysis-note/settings.tex
Due: check_ten_maru, format_tex_files

CI でも rsvg-converter が使用できるようにする
  .devcontainer/Dockerfile
  .gitlab-ci.yml
  cspell.json
Due: none

不要になった svglib パッケージを削除
  poetry.lock
  pyproject.toml
Due: none

長すぎてレイアウトに影響しているタイトルを短縮
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
Due: check_ten_maru

DE 公式の実装向けの数式を更新
  numerical-analysis-note/integration/one-dim.tex
Due: check_ten_maru, format_tex_files

数値積分のベンチマーク
  cspell.json
  num_anal_plots/plots/integ_finite/README.md
  num_anal_plots/plots/integ_finite/exp.data
  num_anal_plots/plots/integ_finite/integ_finite_de.py
  num_anal_plots/plots/integ_finite/integ_finite_gauss_legendre.py
  num_anal_plots/plots/integ_finite/integ_finite_gauss_legendre_kronrod.py
  num_anal_plots/plots/integ_finite/inv_sqrt_1mx2.data
  num_anal_plots/plots/integ_finite/sqrt_1mx2.data
  num_anal_plots/plots/plots.py
  numerical-analysis-note/integration/one-dim.tex
Due: check_ten_maru, format_tex_files

数値積分のベンチマーク結果を Web ページにも記載
  docs/source/web-contents/index.rst
  docs/source/web-contents/integration/index.rst
  docs/source/web-contents/integration/one-dim-finite.md
  docs/source/web-contents/special-functions/legendre-function.md
Due: check_ten_maru

ランダムな二次関数の最適化のベンチマーク
  docs/source/web-contents/index.rst
  docs/source/web-contents/opt/index.rst
  docs/source/web-contents/opt/opt-random-quadratic-functions.md
  num_anal_plots/plots/opt_random_multi_quadratic_function/README.md
  num_anal_plots/plots/opt_random_multi_quadratic_function/bench.data
  num_anal_plots/plots/opt_random_multi_quadratic_function/opt_random_multi_quadratic_function.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/optimization/experiments.tex
  numerical-analysis-note/optimization/main.tex
Due: check_ten_maru, format_tex_files

ベンチマーク結果の説明に追記
  numerical-analysis-note/optimization/experiments.tex
Due: check_ten_maru, format_tex_files

凸関数のテスト関数の最適化のベンチマーク
  cspell.json
  docs/source/web-contents/opt/index.rst
  docs/source/web-contents/opt/opt-convex-difficult-functions.md
  num_anal_plots/plots/opt_convex_difficult_functions/README.md
  num_anal_plots/plots/opt_convex_difficult_functions/opt_convex_difficult_functions.py
  num_anal_plots/plots/opt_convex_difficult_functions/powell4_function.data
  num_anal_plots/plots/opt_convex_difficult_functions/rosenbrock_function.data
  num_anal_plots/plots/plots.py
  numerical-analysis-note/articles.bib
  numerical-analysis-note/optimization/experiments.tex
Due: check_ten_maru, format_tex_files

Python パッケージの更新
  poetry.lock
  pyproject.toml
Due: none

Gaussian Process Optimization のパラメータに関する記述を見直し
  numerical-analysis-note/interp/kernel.tex
Due: check_ten_maru, format_tex_files

1 次元における大域的最適化のベンチマーク
  docs/source/web-contents/opt/index.rst
  docs/source/web-contents/opt/opt-single-variate-multi-optima-functions.md
  num_anal_plots/plots/opt_single_variate_multi_optima_function/README.md
  num_anal_plots/plots/opt_single_variate_multi_optima_function/bench.data
  num_anal_plots/plots/opt_single_variate_multi_optima_function/opt_single_variate_multi_optima_function.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/interp/kernel.tex
  numerical-analysis-note/optimization/descent-unconstrained-optimization.tex
  numerical-analysis-note/optimization/downhill-simplex.tex
  numerical-analysis-note/optimization/experiments.tex
Due: check_ten_maru, format_tex_files

最適化アルゴリズムの追加のベンチマークと最適化アルゴリズムに関する補足
  .vscode/settings.json
  cspell.json
  docs/source/web-contents/opt/index.rst
  docs/source/web-contents/opt/opt-multi-variate-multi-optima-functions.md
  num_anal_plots/plots/opt_multi_variate_difficult_multi_optima_function/README.md
  num_anal_plots/plots/opt_multi_variate_difficult_multi_optima_function/bench.data
  num_anal_plots/plots/opt_multi_variate_difficult_multi_optima_function/opt_multi_variate_difficult_multi_optima_function.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/articles.bib
  numerical-analysis-note/optimization/experiments.tex
  numerical-analysis-note/optimization/global-optimization.tex
Due: check_ten_maru, format_tex_files
