Repository MusicScience37/numerical-analysis-note: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: check_ten_maru
        name: Check ten and maru.
        entry: poetry run python scripts/fix-ten-maru.py
        language: system
        files: "\\.(tex|md|rst)$"
      - id: check_filenames
        name: Check filenames
        entry: poetry run python scripts/check-filename.py
        language: system
        exclude: "num_anal_plots/|_static|_templates"
      - id: format_tex_files
        name: Format TeX files
        entry: poetry run python scripts/run-latexindent.py
        language: system
        files: "\\.(tex)$"
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: poetry run black
        language: system
        require_serial: true
        types_or: [python, pyi]
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        require_serial: true
        types_or: [python, pyi]
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        require_serial: true
        types_or: [python]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        require_serial: true
        types_or: [python]
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        require_serial: true
        types_or: [python]
exclude: "extern|\\.svg"

Python パッケージの更新
  poetry.lock
  poetry.toml
  pyproject.toml
Due: check_filenames

Mathjax3 を使用するように変更
  cspell.json
  docs/source/conf.py
  docs/source/web-contents/integration/one-dim-finite.md
  docs/source/web-contents/interpolation/wendland-csrbf.md
  docs/source/web-contents/matrix-computation/laplacian-2d-grid.md
  docs/source/web-contents/ode/implicit-kaps-problem-benchmark.md
  docs/source/web-contents/ode/kaps-problem-benchmark.md
  docs/source/web-contents/ode/pendulum-movement-benchmark.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  docs/source/web-contents/opt/opt-convex-difficult-functions.md
  docs/source/web-contents/opt/opt-multi-variate-multi-optima-functions.md
  docs/source/web-contents/opt/opt-random-quadratic-functions.md
  docs/source/web-contents/opt/opt-single-variate-multi-optima-functions.md
  docs/source/web-contents/pde/diffusion2d-ode-solvers.md
  docs/source/web-contents/special-functions/gamma-function.md
  docs/source/web-contents/special-functions/legendre-function.md
  num_anal_plots/show_plot_in_jupyter.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

RBF の性質について追記
  cspell.json
  numerical-analysis-note/articles.bib
  numerical-analysis-note/interp/kernel/rbf.tex
Due: check_ten_maru, check_filenames, format_tex_files

Bessel 関数のプロットを作成
  docs/source/web-contents/special-functions/bessel-functions.md
  docs/source/web-contents/special-functions/index.rst
  num_anal_plots/plots/bessel_functions/__init__.py
  num_anal_plots/plots/bessel_functions/bessel_functions.py
  num_anal_plots/plots/plots.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

Bessel 関数のプロットをノートに追加
  numerical-analysis-note/special-functions/bessel.tex
Due: check_ten_maru, check_filenames, format_tex_files

パラメータなしの RBF のプロットを追加
  cspell.json
  docs/source/web-contents/interpolation/index.rst
  docs/source/web-contents/interpolation/rbfs.md
  docs/source/web-contents/interpolation/wendland-csrbf.md
  num_anal_plots/plots/plots.py
  num_anal_plots/plots/rbf_general_rbfs/__init__.py
  num_anal_plots/plots/rbf_general_rbfs/rbf_general_rbfs.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

RBF のプロットを追加
  docs/source/web-contents/interpolation/rbfs.md
  num_anal_plots/plots/plots.py
  num_anal_plots/plots/rbf_bessel_rbf/__init__.py
  num_anal_plots/plots/rbf_bessel_rbf/rbf_bessel_rbf.py
  num_anal_plots/plots/rbf_general_rbfs/rbf_general_rbfs.py
  num_anal_plots/plots/rbf_polyharmonic_spline_rbf/__init__.py
  num_anal_plots/plots/rbf_polyharmonic_spline_rbf/rbf_polyharmonic_spline_rbf.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

RBF のプロットをノートに追加
  docs/source/web-contents/interpolation/rbfs.md
  num_anal_plots/plots/rbf_general_rbfs/rbf_general_rbfs.py
  numerical-analysis-note/interp/kernel/rbf.tex
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

余分な Jupyter の入力を削除
  docs/source/web-contents/integration/one-dim-finite.md
  docs/source/web-contents/matrix-computation/laplacian-2d-grid.md
  docs/source/web-contents/ode/implicit-kaps-problem-benchmark.md
  docs/source/web-contents/ode/kaps-problem-benchmark.md
  docs/source/web-contents/ode/pendulum-movement-benchmark.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  docs/source/web-contents/opt/opt-convex-difficult-functions.md
  docs/source/web-contents/opt/opt-multi-variate-multi-optima-functions.md
  docs/source/web-contents/opt/opt-random-quadratic-functions.md
  docs/source/web-contents/opt/opt-single-variate-multi-optima-functions.md
  docs/source/web-contents/pde/diffusion2d-ode-solvers.md
  docs/source/web-contents/special-functions/bessel-functions.md
  docs/source/web-contents/special-functions/gamma-function.md
  docs/source/web-contents/special-functions/legendre-function.md
Due: check_ten_maru, check_filenames

変形 Bessel 関数について記載
  num_anal_plots/plots/bessel_functions/bessel_functions.py
  numerical-analysis-note/special-functions/bessel.tex
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

特殊関数の主な応用例を記載
  numerical-analysis-note/integration/one-dim.tex
  numerical-analysis-note/special-functions/bessel.tex
  numerical-analysis-note/special-functions/legendre.tex
Due: check_ten_maru, check_filenames, format_tex_files

Matern RBF について記載
  cspell.json
  num_anal_plots/plots/plots.py
  num_anal_plots/plots/rbf_matern_rbf/__init__.py
  num_anal_plots/plots/rbf_matern_rbf/rbf_matern_rbf.py
  numerical-analysis-note/interp/kernel/rbf.tex
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

Matern RBF のプロットを web にも追加
  docs/source/web-contents/interpolation/rbfs.md
Due: check_ten_maru, check_filenames

Python パッケージの更新
  poetry.lock
  pyproject.toml
Due: check_filenames

ベンチマーク結果のデータを更新
  docs/source/web-contents/ode/implicit-kaps-problem-benchmark.md
  docs/source/web-contents/ode/kaps-problem-benchmark.md
  docs/source/web-contents/ode/pendulum-movement-benchmark.md
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_common.py
  num_anal_plots/plots/ode_implicit_kaps_problem/README.md
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem0.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem3.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_problem6.data
  num_anal_plots/plots/ode_implicit_kaps_problem/implicit_kaps_probleminf.data
  num_anal_plots/plots/ode_kaps_problem/README.md
  num_anal_plots/plots/ode_kaps_problem/kaps_problem0.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem3.data
  num_anal_plots/plots/ode_kaps_problem/kaps_problem6.data
  num_anal_plots/plots/ode_pendulum_movement/README.md
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem.data
  num_anal_plots/plots/ode_pendulum_movement/pendulum_movement_problem_fixed_step.data
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/README.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/bench.data
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

Python スクリプトの修正
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
Due: pylint, flake8, mypy

偏微分方程式のベンチマークも更新
  docs/source/web-contents/pde/diffusion2d-ode-solvers.md
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/README.md
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/diffusion2d_dirichlet.data
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/diffusion2d_neumann.data
  num_anal_plots/plots/pde_diffusion2d_ode_solvers/pde_diffusion2d_ode_solvers.py
Due: check_ten_maru, check_filenames, pylint, flake8, mypy

常微分方程式解法の公式の一覧を移動して内容を更新
  cspell.json
  docs/source/web-contents/ode/formulas.md
  docs/source/web-contents/ode/index.rst
  docs/source/web-contents/ode/pendulum-movement-benchmark.md
  numerical-analysis-note/articles.bib
Due: check_ten_maru, check_filenames

常微分方程式解法のベンチマーク結果に関する説明を更新
  numerical-analysis-note/ode/experiments.tex
  numerical-analysis-note/pde/experiments.tex
Due: check_ten_maru, check_filenames, format_tex_files

常微分方程式解法の記述を更新
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/ode_runge_kutta_sparse_solvers.py
  num_anal_plots/plots/plots.py
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files, pylint, flake8, mypy

GMRES の実装を更新したためベンチマーク結果を更新
  docs/source/web-contents/ode/runge-kutta-implicit-solvers.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/README.md
  num_anal_plots/plots/ode_runge_kutta_sparse_solvers/bench.data
  numerical-analysis-note/ode/runge-kutta/theory.tex
Due: check_ten_maru, check_filenames, format_tex_files

RBF-FD の超粘性項について
  cspell.json
  numerical-analysis-note/articles.bib
  numerical-analysis-note/pde/rbf-fd.tex
Due: check_ten_maru, check_filenames, format_tex_files

重複した bibtex の項目を削除
  numerical-analysis-note/articles.bib
Due: check_filenames

Docker イメージの更新
  .devcontainer/Dockerfile
Due: check_filenames

CI で使用する Docker イメージも更新
  .gitlab-ci.yml
Due: check_filenames

有限要素法の概要
  cspell.json
  numerical-analysis-note/articles.bib
  numerical-analysis-note/pde/fem.tex
  numerical-analysis-note/pde/intro.tex
  numerical-analysis-note/pde/main.tex
Due: check_ten_maru, check_filenames, format_tex_files

移流の安定化を章として分離
  numerical-analysis-note/pde/convection.tex
  numerical-analysis-note/pde/main.tex
  numerical-analysis-note/pde/rbf-fd.tex
Due: check_ten_maru, check_filenames, format_tex_files

特性曲線について記載
  numerical-analysis-note/pde/advection.tex
  numerical-analysis-note/pde/main.tex
Due: check_ten_maru, check_filenames, format_tex_files

特性曲線について追記
  numerical-analysis-note/pde/advection.tex
Due: check_ten_maru, check_filenames, format_tex_files

特性曲線法の安定性について追記
  numerical-analysis-note/pde/advection.tex
Due: check_ten_maru, check_filenames, format_tex_files
